/* Navbar.js */
nav {
    padding-right: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: white;
    padding-top: 1%;
    width: 100vw;
}


.title {
    /* scale: .5; */
    margin-top: -1%;
}


.search-bar {
    border: 0;
    border-radius: 0;
    padding: 2.5% 5%;
    background-color: var(--off-white);
    width: 600px;
}

.links-container {
    text-shadow: 1px 1px 5px gray;
}

.links-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 50px;
    background-color: black;
    border-bottom: 1px solid var(--off-orange)

}



li {
    color: var(--off-white);
    
    transition: .5s all;
    cursor: pointer;
}
li:hover {
    scale: 1.25;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--off-orange);
    scale: 2;
    gap: 25px;
    margin-right: 3%;
    margin-left: -7%;
}

.icon {
    
    cursor: pointer;
}

.mobile-icon {
    color: var(--off-orange);
    scale: 1.5;
}

.dropdown {
    z-index: 10000;
    background-color: black;
    color: white;
    margin-top: -1%;
    padding: 0 30%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid var(--off-orange);
}
.dropdown li:hover {
    scale: 1;
}
/* ProductCarousel.js */
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.carousel-image {
    width: auto;
    max-height: 500px;
    margin: 0 auto;
    justify-content: center;
    display: block;
    object-fit: cover;
    transition: transform 0.5 ease;
}
@media only screen and (max-width: 500px) {

    .carousel {
        max-width: 100vw;
    }

    .carousel-image {
        border-radius: 5%;
        max-height: 300px;
    }
    nav {
        flex-direction: column;
        margin-top: 15%;
        width: 100vw;
    }
    .title {
        width: 90vw;
    }
    .search-container {
        margin-right: auto;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search-bar {
        width: 80vw;
    }
    .links-list {
        font-size: .75rem;
        margin-top: 30px;
        padding-left: 0;
        gap: 20px;
        margin-right: 5%;
        width: 100vw;
    }
    .dropdown {
        margin-top: -5%;
    }
}
