.main-home {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.about-card {
    /* border-radius: 10px;
    border: 1px solid var(--off-orange); */
    width: 100%;
    box-shadow: 1px 1px 10px gray;
    padding: 2% 25%;
    margin: 5% 25%;
    display: flex;
    flex-wrap: wrap;
}